@model AllProductsQueryModel
@{
    ViewBag.Title = "All Products";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-5">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-dark disabled">Categories</a>
                <a href="@Url.Action("AllProducts", new { category = "" })"
                   class="list-group-item @(string.IsNullOrEmpty(Model.Category) ? "active" : string.Empty)">
                    All
                </a>
                @foreach (var category in Model.Categories)
                {
                    <a href="@Url.Action("AllProducts", new { category = category })"
                       class="list-group-item @(Model.Category == category ? "active" : string.Empty)">
                        @category
                    </a>
                }
            </div>
        </div>
        <div class="col-md-8">
            <form method="get" asp-controller="Product" asp-action="AllProducts">
                <div class="row">

                    <div class="form-group col-md-2 d-flex p-1">
                        <div class="form-group mb-3" style=" flex-basis: 250px;">
                            <label asp-for="ProductsPerPage"></label>
                            <select asp-for="ProductsPerPage" class="form-control">
                                <option value="3">3</option>
                                <option value="6">6</option>
                                <option value="9">9</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-2 d-flex p-1">
                        <div class="form-group mb-3" style=" flex-basis: 250px;">
                            <label asp-for="SearchString"></label>
                            <input asp-for="SearchString" class="form-control" placeholder="...">
                        </div>
                    </div>
                    <div class="form-group col-md-2 d-flex p-1">
                        <div class="form-group mb-3" style=" flex-basis: 250px;">
                            <label asp-for="ProductSorting"></label>
                            <select asp-for="ProductSorting" class="form-control">
                                <option value="0">Newest</option>
                                <option value="1">Oldest</option>
                                <option value="2">Price Ascending</option>
                                <option value="3">Price Descending</option>
                                <option value="4">Not purchesed first</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-2 p-1 d-flex align-items-end">
                        <div class="form-group mb-3">
                            <input type="submit" value="Search" class="btn btn-outline-dark" />
                        </div>
                    </div>
                </div>

            </form>
            @{
                int previousPage = Model.CurrentPage - 1;
                if (previousPage < 1)
                {
                    previousPage = 1;
                }
                int maxPage = (int)Math.Ceiling((double)Model.TotalProducts /
                Model.ProductsPerPage);
            }
            <div class="row mb-5">
                <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
                    <a class="btn btn-outline-dark @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                       asp-controller="Product"
                       asp-action="AllProducts"
                       asp-route-currentPage="@previousPage"
                       asp-route-category="@Model.Category"
                       asp-route-searchTerm="@Model.SearchString"
                       asp-route-sorting="@((int)Model.ProductSorting)"><<</a>
                </div>
                @{
                    bool shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                    !Model.Products.Any();
                }
                <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
                    <a class="btn btn-outline-dark
                        @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
                       asp-controller="Product"
                       asp-action="AllProducts"
                       asp-route-currentPage="@(Model.CurrentPage + 1)"
                       asp-route-category="@Model.Category"
                       asp-route-searchTerm="@Model.SearchString"
                       asp-route-sorting="@((int)Model.ProductSorting)">>></a>
                </div>
            </div>
            @if (!Model.Products.Any())
            {
                <h2 class="text-center">No products found by the given criteria!</h2>
            }
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <partial name="_ProductPartial" model="@product" />
                }
            </div>
        </div>
    </div>
</div>
