@model ProductDetailsViewModel
@using Blasco.Services.Data.Interfaces
@using Blasco.Web.Infrastructure.Extentions;

@inject ICustomerService CustomerService
@inject ICreatorService CreatorService

@{
    bool isUserCustomer = await CustomerService.CustomerExistsByCreatorId(this.User.GetId());
    bool isCreatorrOwnerOfProduct = await this.CreatorService.HasProductWithIdAsync(Model.Id, this.User.GetId());
    bool isCustomerOwnerOfProduct = await this.CustomerService.HasProductWithIdAsync(Model.Id, this.User.GetId());
}

@{
    ViewBag.Title = "Prodict Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Product Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Category: <b>@Model.Category</b></p>
            @if (!String.IsNullOrWhiteSpace(Model.City))
            {
                <p>Located in: <b>@Model.City</b></p>
            }
            <p><i>(@(Model.IsPurchased ? "Purchased" : "Not Purchased"))</i></p>
            <div class="form-inline">
                @if (this.User.Identity?.IsAuthenticated ?? false)
                {
                    @if (!isUserCustomer && isCreatorrOwnerOfProduct)
                    {
                        <a asp-controller="Product" asp-action="EditProduct"
                   asp-route-id="@Model.Id" class="btn btn-warning">EditProduct</a>
                        <a asp-controller="Product" asp-action="DeleteProduct"
                   asp-route-id="@Model.Id" class="ml-2 btn btn-danger">DeleteProduct</a>

                    }

                    @if (!Model.IsPurchased && !isCreatorrOwnerOfProduct)
                    {
                        <form class="ml-2" asp-controller="Product"
                      asp-action="PurchaseProduct" asp-route-id="@Model.Id"
                              method="post">
                            <input class="btn btn-primary" type="submit"
                                   value="PurchaseProduct" />
                        </form>
                    }
                    @if (isUserCustomer && isCustomerOwnerOfProduct)
                    {
                        <form class="ml-2" asp-controller="Product" asp-action="CancelProduct"
                            asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit"
                                   value="CancelProduct" />
                        </form>
                    }
                }
            </div>

            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Creator Info</h5>
                    <p class="card-text">Email: @Model.CreatorEmail</p>
                    <p class="card-text">Pseudonym: @Model.CreatorPseudonym</p>
                </div>
            </div>
        </div>
    </div>
</div>
